/* Place CSS styles here */
div{
  background-color: #d387ff;
  text-align: center;
}

.broke-bear-header-bar{
  background-color: #000;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 768px) {
  .brokenav a:not(:first-child) {display: none;}
  .brokenav  a.icon {
    
    display: block;
  }
}


@media screen and (max-width: 767px) {
  #brokenav.responsive {position: relative;}
  #brokenav.responsive a.icon {
    position: relative;
    right: 0;
    top: 0;
  }
  .brokenav.responsive a {
    position: relative;
    display: block;
    text-align: left;
  }
}



/*  
@media (max-width: 488px) {
  .broke-bear-container{
    grid-template-columns: 1fr;
    flex-direction: column;
    position: relative;
  }
  
}

@media (max-width: 768px) {
    body{
    background-color: #d387ff;
    }
}
*/

/* ADD SLIDE IN EFFECT HERE!!! */
.selfie-image{
  width: 175px;
  box-shadow: -6px 7px black
}

.emos-cereal{
  width: 160px;
}

.seasonal-palette{
  width: 160px;
}

.broke-bear-logo {
    width: 90px;
    align-items: center;
  }

.broke-bear-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
   /*  position: sticky; */
    top: 0;
    background-color: #000000;
    
  }
  
/* Add a black background color to the top navigation */
.brokenav {
  background-color: #000000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.brokenav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

/* Change the color of links on hover */
.brokenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.brokenav a.active {
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.brokenav .icon {
  display: none;
  position: absolute;
    right: 28px;
    top: 21px;
}
  
  nav a, .my-button-links{
    background-color: #d387ff;
    display: inline-flex;
    padding: 16px;
    border: 1px solid white;
    color: #000000;
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration: none;
    transition: all .25s ease;
    width: auto;
}

  .my-button-links-special{
    background-color: #ffffff;
    display: table-cell;
    padding: 16px;
    border: 1px solid #000000;
    color: #000000;
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration: none;
    transition: all .25s ease;
    width: auto;
    box-shadow: -4px 6px #000000;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;

  }

nav{
    display: block;
}

*{
    box-sizing: border-box;
    border-color: #000;
}

  .broke-bear-hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.55), 
        rgba(0, 0, 0, 0.55)
      ),
      url(../img/Broke\ Bear\ logo-02-02-02.png);
      
    /* needed to make background flexible */
    background-size: cover;
    background-position: center;
    background-color: #4b0082;
  }
  
  .broke-bear-hero h1  {
    color: white;
    text-shadow: 1px 1px 2px #000;
  }
  
  h2{
    display: flex;
    justify-content: center;
  }

  li{
    list-style-position: inside;
    text-align: center;
  }
  
  .broke-bear-resume-titles{
    font-weight: bold;
  }


  /* Add some padding and a grey background color to containers */
  .broke-bear-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .broke-bear-flex-container{

  }
  
  .art-images{
    width: 100%;
  }
  
  .broke-bear-label-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .broke-bear-feature-content-wrapper {
   
  }
  
  .broke-bear-feature-content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .broke-bear-feature-content p {
    color: #000;
  }
  
  .broke-bear-feature-items {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .broke-bear-featured-item{

  }

  input, textarea {
    display: flex;
    border: 1px solid #c4c3c3;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 12px;
    width: 50%;
  }

  button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
  input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;}

input, textarea{
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: -4px 6px #000000;
    background-color: #ffffff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 248px
}

.form{

}

.form-input{
 text-align: center;
}

  .broke-bear-footer{
    
 }

  