/* Place CSS styles here */

body{
  background-color: #d387ff;
}

img{
  width: 100%;
  height: auto;
}

div{
  background-color: #d387ff;
  text-align: center;
  justify-content: center;
}


.broke-bear-header-bar{
  background-color: #000;
}

.topnav {
  background-color: #000000;
  overflow: hidden;
}


.fa{
  color: #ffffff;
}

a{
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-flex;
    position: relative;
    margin-top: 4px;
    margin-bottom: 4px;
    top: 0;
    display: inline-flex;
    color: #000000;
    text-align: center;
   
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #000000;
  border-color: #000000;
  
}

.topnav a.blank{
  background-color: #000;
    margin-bottom: -24px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    display: flex;
    position: absolute;
    right: 28px;
    top: 66px;
    font-size: 23px;
    background-color: #000000;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    display: flex;
    position: absolute;
    background-color: #d387ff;
    right: 28px;
    top: 66px;
    font-size: 23px;
  }
  .topnav.responsive a {
    position: relative;
    display: block;
    text-align: center;
  /*   background-color: #d387ff;*/
  }
}

@media (max-width: 600px) {
  .broke-bear-grid-container{
    grid-template-columns: 1fr;
    grid-gap: 10px
  }
  
}

@media (max-width: 768px) {
    body{
    background-color: #d387ff;
    }
}

@media (max-width: 480px){
.broke-bear-featured-item {
    flex-direction: column;
    gap: 10px;
  }
}


/* ADD SLIDE IN EFFECT HERE!!! */
.selfie-image{
  width: 175px;
  box-shadow: -6px 7px black
}

.coffee-posters{
  width: 200px;
}

.emos-cereal{
  width: 115%;
}

.seasonal-palette{
  width: 160px;
}

.object-iteration{
 
}

.graphic-response{
  width: 102%;
}

.photos{
  rotate: 90deg;
  width: 74%;
}

.photos-flower{
  margin-top: -21px;
    rotate: 90deg;
    width: 74%;
}

.broke-bear-logo {
    width: 90px;
    margin-top: 24px;
  }

.logo-active{
  align-items: center;
  background-color: #000000;
  padding: inherit;
}

.broke-bear-header {
    display: flex;
    align-items: center;
    justify-content: center;
   /*  position: sticky; */
    top: 0;
    background-color: #000000;
    
  }
  
  nav a, .my-button-links{
    background-color: #d387ff;
    display: inline-flex;
    padding: 16px;
    color: #000000;
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration: none;
    transition: all .25s ease;
    width: auto;
}

  .submit-button{
    background-color: #ffffff;
    display: inline-flex;
    padding: 16px;
    color: #000000;
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration: none;
    transition: all .25s ease;
    width: auto;
  }

  .my-button-links-special{
    background-color: #ffffff;
    display: table-cell;
    padding: 16px;
    border: 1px solid #000000;
    color: #000000;
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration: none;
    transition: all .25s ease;
    width: auto;
    box-shadow: -4px 6px #000000;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
  }

.broke-bear-nav{
    display: block;
}

main{
  background-color: #d387ff;
}

*{
    box-sizing: border-box;
    border-color: #000;
    text-align: center;
}

  .broke-bear-hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.55), 
        rgba(0, 0, 0, 0.55)
      ),
      url(../img/Broke\ Bear\ logo-02-02-02.png);
      
    /* needed to make background flexible */
    background-size: cover;
    background-position: center;
    background-color: #4b0082;
  }
  
  .broke-bear-hero h1  {
    color: white;
    text-shadow: 1px 1px 2px #000;
  }
  
  h1{
    color: #ffffff;
  }

  h2{
    display: flex;
    justify-content: center;
  }

  .artwork-titles{
    color: #ffffff;
  }

  li{
    list-style-position: inside;
    text-align: center;
  }
  
  .broke-bear-resume-titles{
    font-weight: bold;
  }

  /* Add some padding and a grey background color to containers */
  .broke-bear-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .broke-bear-container-one {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .broke-bear-grid-container-different {
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
  }


  .broke-bear-flex-container{

  }
  
  .art-images{
    width: 100%;
  }
  
  .broke-bear-label-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .broke-bear-default-title{
    padding-top: 20px;
  }

  .broke-bear-default-wrapper{
    color: #ffffff;
  }
  
  .broke-bear-feature-content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .broke-bear-feature-content p {
    color: #000;
  }
  
  .broke-bear-feature-items {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .broke-bear-featured-item{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}
  
.broke-bear-featured-item-title{
    color: #000000;
}

  input, textarea {
    display: flex;
    border: 1px solid #c4c3c3;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 12px;
    width: 50%;
  }

  button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
  input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;}

input, textarea{
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: -4px 6px #000000;
    background-color: #ffffff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 248px
}

.broke-bear-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}

.broke-bear-flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}

@media (max-width: 480px) {
  .broke-bear-flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev{
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.form-input{
 text-align: center;
}

  .broke-bear-footer{
    padding: 20px;
 }

  